header{
    background-color: #f00;
    padding: 10px;

    ul{
        background-color: #fff;

        li{
            background-color: aquamarine;
            margin-bottom: 5px;
        }
    }
}